{% extends "base.twig" %}

{% block title %} New Product {% endblock %}

{% block content %}
<main class="content">
  <h1 class="title new-item">New Product </h1>
  
  <form action="/products" method="post">
    <div class="input-field">
      <label for="sku" class="label">Product SKU</label>
      <input type="text" name="sku" id="sku" class="input-text" /> 
    </div>
    <div class="input-field">
      <label for="name" class="label">Product Name</label>
      <input type="text" name="name" id="name" class="input-text" /> 
    </div>
    <div class="input-field">
      <label for="price" class="label">Price</label>
      <input type="text" name="price" id="price" class="input-text" /> 
    </div>
    <div class="input-field">
      <label for="quantity" class="label">Quantity</label>
      <input type="text" name="quantity" id="quantity" class="input-text" /> 
    </div>
    <div class="input-field">
      <label for="category" class="label">Categories</label>
      <select multiple name="categories[]" id="categories" class="input-text">
        {% for category in categories %}
          <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-field">
      <label for="description" class="label">Description</label>
      <textarea id="description" name="description" class="input-text"></textarea>
    </div>
    <div class="actions-form">
      <a href="/products" class="action back">Back</a>
      <input class="btn-submit btn-action" type="submit" value="Save Product" />
    </div>
    
  </form>
</main>

{% endblock %}