{% extends "base.twig" %}

{% block title %} Categories {% endblock %}

{% block content %}

<main class="content">
  <div class="header-list-page">
    <h1 class="title">Categories</h1>
    <a href="/categories/create" class="btn-action">Add new Category</a>
  </div>
  <table class="data-grid">
    <tr class="data-row">
      <th class="data-grid-th">
          <span class="data-grid-cell-content">Name</span>
      </th>
      <th class="data-grid-th">
          <span class="data-grid-cell-content">Code</span>
      </th>
      <th class="data-grid-th">
          <span class="data-grid-cell-content">Actions</span>
      </th>
    </tr>
    {% for category in categories %}
      <tr class="data-row">
        <td class="data-grid-td">
           <span class="data-grid-cell-content">{{category.name}}</span>
        </td>
      
        <td class="data-grid-td">
           <span class="data-grid-cell-content">{{category.code}}</span>
        </td>
      
        <td class="data-grid-td">
          <div class="actions">
            <div class="action edit"><span>Edit</span></div>
            <div class="action delete"><span>Delete</span></div>
          </div>
        </td>
      </tr>
    {% endfor  %}
  </table>
</main>

{% endblock %}