{% extends "base.twig" %}

{% block title %} Products {% endblock %}

{% block content %}
<main class="content">
  <div class="header-list-page">
    <h1 class="title">Products</h1>
    <a href="/products/create" class="btn-action">Add new Product</a>
  </div>
  <table class="data-grid">
    <tr class="data-row">
      <th class="data-grid-th">
          <span class="data-grid-cell-content">Name</span>
      </th>
      <th class="data-grid-th">
          <span class="data-grid-cell-content">SKU</span>
      </th>
      <th class="data-grid-th">
          <span class="data-grid-cell-content">Price</span>
      </th>
      <th class="data-grid-th">
          <span class="data-grid-cell-content">Quantity</span>
      </th>
      <th class="data-grid-th">
          <span class="data-grid-cell-content">Categories</span>
      </th>

      <th class="data-grid-th">
          <span class="data-grid-cell-content">Actions</span>
      </th>
    </tr>
    {% for product in products %}
      <tr class="data-row">
        <td class="data-grid-td">
           <span class="data-grid-cell-content">{{product.name}}</span>
        </td>
      
        <td class="data-grid-td">
           <span class="data-grid-cell-content">{{product.sku}}</span>
        </td>

        <td class="data-grid-td">
           <span class="data-grid-cell-content">{{ product.price }}</span>
        </td>

        <td class="data-grid-td">
           <span class="data-grid-cell-content">{{ product.quantity }}</span>
        </td>

        <td class="data-grid-td">
           <span class="data-grid-cell-content">
            {% for category in product.categories %}
              {{category.name}} <br />
            {% endfor %}
           </span>
        </td>
      
        <td class="data-grid-td">
          <div class="actions">
            <div class="action edit"><span>Edit</span></div>
            <div class="action delete"><span>Delete</span></div>
          </div>
        </td>
      </tr>
    {% endfor  %}    
  </table>
</main>

{% endblock %}