<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<style type="text/css">
		h2 {
			font-family: Arial, Sans-Serif;
			font-size: 16px;
			padding: 5px;
			border: 1px solid gray;
			background: #f4e8be
		}
		main {
			min-height: 100vh;
			position: absolute;
			top: 10; background: white;
			width: 99%;
		}
		main section {
			background-color: #e2e2e2;
			padding: 15px;
			border: 1px solid #DD0000;
			text-align: justify;
			overflow-wrap: break-word;
			word-wrap: break-word;
			hyphens: auto;
			font-family: monospace;
		}

		section pre {
			margin-top: -1em;
    		white-space: pre-line;
		}
	</style>
</head>
<body>
	<main>
		<h2>
			{{error.file}} on line {{error.line}}
		</h2>
		<section>
			<pre>
				{{error.message}}
			</pre>
		</section>
	</main>
</body>
</html>